---
import AnimatedCodeBlock from '../../components/AnimatedCodeBlock.astro';
import BoxGradientBorder from '../../components/BoxGradientBorder.astro';
import Button from '../../components/Button.astro';
const publicSalePage = import.meta.env.PUBLIC_SALE_PAGE

const items = [
  {
    quote:
      'Com 6 anos de experiência no Banco do Brasil, achei o conteúdo do Lucas excelente, como já esperava. Uso TypeScript no dia a dia e aproveitei os módulos iniciais para revisar e aprender novos truques. A Formação TS promete ser uma referência constante para mim, e a comunidade no Discord é super ativa e enriquecedora, especialmente nas discussões.',
    user: {
      name: 'Bruno Noriller',
      photoSrc: '/assets/testimonials/bruno.webp',
      photoAlt: 'Aluno',
    },
  },
  {
    quote:
      'O curso de TypeScript do Lucas Santos é incrível! Com explicações claras e concisas, o Lucas inspira confiança e sempre recomenda leituras complementares para fixar o conhecimento. Os projetos são práticos e realistas, e o contato direto via Discord faz toda a diferença – me senti como se tivesse uma consultoria personalizada. Sou muito grato por aprender com ele!',
    user: {
      name: 'Gustavo Cardoso',
      photoSrc: '/assets/testimonials/gustavo.webp',
      photoAlt: 'Aluno',
    },
  },
  // {
  //   quote:
  //     'O conteúdo é incrível, tem me agregado muito e com certeza vai agregar ainda mais, ansioso pelos próximos conteúdos, de fato o treinamento mais completo de Typescript do Brasil',
  //   user: {
  //     name: 'Lucas Magno',
  //     photoSrc: '/public/assets/testimonials/user-placeholder.svg',
  //     photoAlt: 'Aluno',
  //   },
  // },
  // {
  //   quote:
  //     'Treinamento bem completo e detalhado. Um conteúdo bem diferente, muito mais aprofundado do que os conteúdos disponíveis atualmente em outros cursos.',
  //   user: {
  //     name: 'Maik Santos',
  //     photoSrc: '/public/assets/testimonials/user-placeholder.svg',
  //     photoAlt: 'Aluno',
  //   },
  // },
  {
    quote:
      'O treinamento é único, com uma didática que vai além do comum. Cada módulo traz referências e desafios que despertam a curiosidade e incentivam o aprendizado contínuo. A integração com o blog e a comunidade no Discord enriquece a experiência, ideal para quem busca conhecimento. Aprendi muito, desenvolvendo projetos completos e explorando novos tópicos como cibersegurança e criptografia, ampliando minha visão crítica e habilidades técnicas.',
    user: {
      name: 'Rafael Feitosa',
      photoSrc: '/assets/testimonials/rafael.jpg',
      photoAlt: 'Aluno',
    },
  },
];
---

<div class="testimonials box">
  <BoxGradientBorder
    borderColor="gray"
    padding="98px"
    paddingMobile="12px"
    borderWidth="1px"
    backgroundColor="#121214"
  >
    <div class="testimonials-header">
      <h3>
        Eles conquistaram seus objetivos de <br /> carreira e transformaram suas
        vidas
      </h3>
      <div class="absolute-codeblock top-right">
        <AnimatedCodeBlock code="O próximo depoimento pode ser o seu" />
      </div>
    </div>

    <div class="testimonials-carousel">
      {
        items.map(item => (
          <div class="testimonials-carousel-item">
            <p class="body-20">"{item.quote}"</p>
            <div class="user-card">
              <img
                src={item.user.photoSrc}
                alt={item.user.photoAlt}
                class="user-card-photo"
              />
              <span class="user-card-name">{item.user.name}</span>
            </div>
          </div>
        ))
      }
    </div>
    <div class="cta">
      <Button variant="primary-large" style="padding: 22px;margin-bottom: 22px;" tooLargeMobile>
                <a href={publicSalePage} target="_blank">Quero conquistar meus objetivos!</a>
        <img
          src="/assets/icons/rocket.svg"
          alt="rocket"
          style="margin-left: 16px"
        />
      </Button>
    </div>
  </BoxGradientBorder>
</div>

<style lang="scss">
  .testimonials {
    a {
        color: white;
        text-decoration: none;
    }
    padding-top: 96.8px;
    padding-bottom: 56.71px;
    .testimonials-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;

      h3 {
        margin: 0;
      }

      .absolute-codeblock {
        position: absolute;
        &.top-right {
          top: -30px;
          right: 0;
        }
      }
    }

    .testimonials-carousel {
      display: flex;
      gap: 16px;
      margin: 78px 0;

      &-item {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        width: 400px;
        // height: 310.03px;
        padding: 32px;
        border-radius: 8px;
        border: 1px solid var(--gray-700);

        p {
          color: var(--white);
          font-style: italic;
          margin: 0;
        }

        .user-card {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 16px;
          margin-top: 32px;

          color: var(--gray-500);
            
          .user-card-photo {
                border-radius: 50%;
                height: 70px;
            }
        }
      }
    }

    .cta {
      display: flex;
      justify-content: center;
      margin-top: 78px;
    }
    @media (max-width: 900px) {
      .testimonials-header {
        h3 {
          margin-top: 18px;
          margin-left: 4px;
        }
      }
      .testimonials-carousel {
        flex-direction: column;

        &-item {
          width: 100%;
        }
      }
    }
  }
</style>
